.createtodobutton{
    background-color: #F3C5C5;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 34px;
    font-weight: bold;
    color: #FAFAFA;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 67px;
    width: 67px;

    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;/*Con esto mantenemos el botton incluso arriba del modal*/
}

.createtodobutton:hover{
    transform: rotate(224deg);
}