*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contGeneral{
    width:100%;
    
    margin: 0 auto;
    
}

.cont{
    /* padding: 10px 10px 0px 10px; */
    background: #F2F4F5;
    color: #1E1E1F;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 65% 30%;
    height:auto;
    gap:5px;

}


#root {
    /* margin: 0 24px; */
    /* position: relative; */
    min-height: 94vh;
  }

.container__left{
    margin-left: 100px;
}

span{
    background-image: url('/src/img/image2.svg');
    width: 100%;
    min-height: 100%;
    display:block;
    background-repeat: no-repeat;
    background-size:auto auto;
} 

.container_title-1{
    font-size:4rem;
    color: #3f3d56;
    margin-top: 100px;
} 

.container_title-2{
    font-size:5rem;
    color: #6c63ff;
    margin-bottom:50px;
 } 

.container__right-contain{
    width:100%;
    margin:0 auto;
} 

.container__right{
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    border-radius:30px;
    width:80%;
    /* height:100px; */
    text-align:center; 
    margin: 0 auto;
}


@media screen and (max-width: 1460px){

    .container_title-1{
        margin-top:30px;
        font-size:3rem
    }
    
    .container_title-2{
        font-size:4rem
    }

    span{
        background-size:700px 400px;
    } 
    
    .container__right{
        min-width: 300px;
    }
    .cont {
        grid-template-rows: repeat(2, 1fr);
        height: auto;
    }
    
}

@media screen and (max-width: 400px){
    .cont {
        grid-template-rows: repeat(2, 1fr);
        height: auto;
    }
}

